<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/styles.css" />
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <script>
            const socket = io();
        </script>
        <input id="orbCOM4" value="COM4 ORB" onclick="socket.emit('connect orb', 'COM4'); this.disabled = true; this.value = 'ORB CONNECTED'" />
        <input id="orbCOM6" value="COM6 ORB" onclick="socket.emit('connect orb', 'COM6'); this.disabled = true; this.value = 'ORB CONNECTED'" />
        <br>
        <br>
        <button onclick="socket.emit('ping orb')">ping orb to verify connection</button>

        <div id="middle-button">
            <input type="button" id="middle" onclick="socket.emit('go forward')"/>
        </div>
        <br>
        <input type="button" id="left"  onclick="socket.emit('left')"/>
        <input type="button" id="pause" onclick="socket.emit('stop')"/>
        <input type="button" id="right" onclick="socket.emit('right')"/>

        <div class="arrow-key-container">
            <div class="arrow-key up" data-key="38" onclick="socket.emit('go forward')"></div><br>
            <div class="arrow-key left" data-key="37" onclick="socket.emit('left')"></div>
            <div class="arrow-key down" data-key="40" onclick="socket.emit('stop')"></div>
            <div class="arrow-key right" data-key="39" onclick="socket.emit('right')"></div>
        </div>

    </body>
</html>
