input#right {
    background-image: url(../icons/arrow_right.png);
    width: 175px;
    height:175px;
}

input#left {
    background-image: url(../icons/arrow_left.png);
    width: 175px;
    height:175px;
}


input#middle {
    background-image: url(../icons/arrow_middle.png);
    width: 175px;
    height:175px;
}


input#pause {
    background-image: url(../icons/pause.png);
    width: 175px;
    height:175px;
}

div#middle-button{
    text-align:center;
    width: 525px;
    height: 175px;
}